@{
  Layout = "_Layout";
}

@using Pierres.ViewModels
@model RegisterViewModel

<div class="jumbotron">
  <h1>Register a new user</h1>
</div>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.Label("Enter Email:")
  @Html.TextBoxFor(user=> user.Email)
  <br>
  @Html.Label("Choose Password:")
  @Html.PasswordFor(user=> user.Password)
  <br>
  @Html.Label("Confirm Password:")
  @Html.PasswordFor(user=> user.ConfirmPassword)
  <br>
  <button class="btn-warning" type="submit">Register!</button>
}
<hr />