@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="jumbotron">
  <h1>Details for @Html.DisplayFor(model => model.Name):</h1>
</div>
<hr />
<div class="row">
<h3>Treat Name:</h3>
<p>@Html.DisplayFor(model => model.Name)</p>
</div>
<hr />
<div class="row">
<h3>Treat Quantity:</h3>
<p>@Html.DisplayFor(model => model.Quantity)</p>
</div>
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <h4>@Html.DisplayFor(model => model.Name) is not assigned under a Flavor!</h4>
}
else
{
  <h4>@Html.DisplayFor(model => model.Name) is assigned to the following @Html.DisplayFor(model => model.JoinEntities.Count) flavors:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink(@join.Flavor.Name, "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
    }
  </ul>
}
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <h4>No Flavors to remove @Html.DisplayFor(model => model.Name) from.</h4>
}
else
{
  <h4>Remove @Html.DisplayFor(model => model.Name) from Flavor:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="@join.Flavor.Name" />
      }
    }
  </ul>
}
<hr />
<button class="btn">@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</button>
<button class="btn">@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</button>
<button class="btn">@Html.ActionLink("Add Treat to Flavor", "AddFlavor", new { id = Model.TreatId })</button>

