@{
  Layout = "_Layout";
}

@using Pierres.Models
@model Pierres.Models.Treat

<div class="jumbotron">
  <h1>Edit @Html.DisplayFor(model => model.Name)</h1>
</div>
<hr />
<div class="card createCard">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
    @Html.Label("Edit Treat Name:")
    @Html.EditorFor(model => model.Name, new { required = "required" })
    <br>
    @Html.Label("Edit Treat Quantity:")
    @Html.EditorFor(model => model.Quantity, new { type = "number", required = "required" })
    <br>
    <button class="btn-warning" type="submit">Update Treat!</button>
  }
</div>
<hr />