@if (User.Identity.IsAuthenticated)
{
<div id="header">
  <button class="btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("See Treats", "Index", "Treats")</button>
  <button class="btn-warning">@Html.ActionLink("See Flavors", "Index", "Flavors")</button>
  <button class="btn-warning">@Html.ActionLink("All Treats And Flavors", "All", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("🔍", "Search", "Home")</button>
  <button class="btnRight btn-warning">@Html.ActionLink("Sign Out", "Index", "Account")</button>
</div>
}
else
{
  <div id="header">
  <button class="btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("🔍", "Search", "Home")</button>
  <button class="btnRight btn-warning">@Html.ActionLink("Log-in/Sign-up", "Index", "Account")</button>
</div>
}